{% extends "base.html" %}
{% block content %}
    <div class="content">
        <form action="">
            <label for="email">Email</label>
            <br>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
            <br>
            <label for="message">Feedback</label>
            <br>
            <textarea name="message" id="message" placeholder="Write something.." required></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}