html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: 'Raleway', sans-serif;
}

footer {
    text-align: center;
    margin: 5rem;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
}

header {
    background-image: url("assets/speaker_1.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75% 10%;
}

.banner {
    padding:10rem;
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: 3rem;
    background-color: rgba(189, 189, 189, 0.589);
    
}



.navbar-list-item{
    display: inline;

}

.navbar-list-item-link{
    font-size: 1.2rem;
    color: rgb(155, 155, 155);
    text-decoration: none;
    padding:1rem 3rem 1rem 3rem;
}

.navbar-list-item-link:hover{
    color: rgb(201, 201, 201);
}

#navbar {
    margin:0;
    background-color: rgb(70, 70, 70);
    padding: 0.5rem;
}

#navbar-list {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}



.sub-title{
    text-align: center;
    font-size: 2.4rem;
    margin: 3rem;
}

.content{
    max-width: 60%;
    margin: auto;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  input[type="email"] {
      width: 100%;

  }

  label {
    padding: 1rem 1rem 1rem 0rem;
    display: inline-block;
  }

  input[type=submit] {
    background-color: #363636;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }